/* reset */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
input, button, textarea, select {
    font: inherit;
}

/* utility */
.hflex {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.vflex {
    display: flex;
    flex-direction: column;
}

body {
    width: 100%;
    height: 100%;
    margin:0;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
td {
    border: 1px solid black;
}
.sel-cell {
    background: pink;
}
.hilite-row {
    background: lightblue;
}