/* reset */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
input, button, textarea, select {
    font: inherit;
}

/* utility */
.hflex {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.vflex {
    display: flex;
    flex-direction: column;
}

body {
    width: 100%;
    height: 100%;
    margin:0;
    overflow: hidden;
    position: fixed;

    display: flex;
    flex-direction: column;
    font-family: sans-serif;

    user-select: none;
    -webkit-user-select: none;
}

label {
    display: inline-flex;
    align-items: center;
}

td {
    border: 1px solid black;
    white-space: nowrap;
}
.sel-cell {
    background: pink;
}
.hilite-row {
    background: lightblue;
}

.radio-box {
    white-space: nowrap;
}
.radio-box input {
    display: none;
}
.radio-box span {
    display: inline-block;
    border: 1px solid black;
    padding: 3pt 6pt;
}
.radio-box :checked + span {
    background: lightgray;
}

.hselect {
    display: table-row;
}

.hselect option {
    display: table-cell;
}
