/* PatternEdit */

@media (min-width: 35em) {
    .pattern-edit-layout {
        flex-direction: row;
    }
}

/* SequenceEdit */

.sequence-edit-layout,
.seq-list {
    flex-direction: row;
}
@media (min-width: 35em) {
    .sequence-edit-layout,
    .seq-list {
        flex-direction: column;
    }
    .seq-list {
        overflow-y: auto;
    }
}
@media not (min-width: 35em) {
    .seq-list {
        overflow-x: auto;
    }
}

.seq-button,
.seq-select {
    width: 2.5em;
    margin-left: 0;
    margin-right: 0;
}
.seq-button span,
.seq-select {
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
}

.seq-select {
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
    text-align-last: center;
}

/* PatternTable */

pattern-table th,
.pattern-cell {
    border: 1px solid currentColor;
    white-space: nowrap;
    box-sizing: content-box;
}
.pattern-row-space th,
.pattern-row-space td,
pattern-table thead th {
    border-top: none;
    border-bottom: none;
}
.pattern-row-head {
    border-left: none;
    border-right: none;
}
pattern-table table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 0;
}
pattern-table table,
.pattern-cell {
    font-size: 15px;
}
/* https://issues.chromium.org/issues/40511425 */
pattern-table th {
    position: sticky;
    background-color: var(--color-bg);
    z-index: 1;
}
pattern-table thead {
    /* Fix borders disappearing in Safari, and incorrect Z order in old Chrome */
    contain: none;
}
pattern-table thead th {
    top: 0;
}
pattern-table tbody th {
    left: 0;
}
pattern-table thead th input,
pattern-table thead th label {
    vertical-align: middle;
}
pattern-table tbody tr:nth-child(4n+2) td,
pattern-table tbody tr:nth-child(4n+2) th {
    background: var(--color-bg-btn);
}
pattern-table tbody tr:nth-child(16n+2) td,
pattern-table tbody tr:nth-child(16n+2) th {
    background: var(--color-bg-btn-press);
}
.sel-pitch .cell-pitch,
.sel-inst .cell-inst,
.sel-effect .cell-effect,
.sel-digit {
    background: var(--color-fg-hl);
    color: var(--color-bg);
}
pattern-table td,
pattern-table tr,
.cell-pitch,
.cell-effect,
.cell-inst {
    /* Layout performance optimization */
    height: var(--line-height);
    overflow: hidden;
    contain: strict;
}
pattern-table td,
.pattern-col-head {
    width: 10ch;
    padding: 0 2px;
}
.cell-pitch,
.cell-effect,
.cell-inst {
    display: inline-block;
    vertical-align: top;
    box-sizing: content-box;
}
.cell-pitch, .cell-effect, .pattern-row-head {
    width: 3ch;
}
.cell-inst {
    width: 2ch;
}
.hilite-row td,
.hilite-row th {
    background: var(--color-bg-alt) !important;
}
pattern-table .sel-cell { /* extra specificity */
    background: var(--color-bg-hl) !important;
}

.pitch-effect:not(.sel-effect) .cell-effect {
    color: var(--color-fg-pitch);
}
.volume-effect:not(.sel-effect) .cell-effect {
    color: var(--color-fg-volume);
}
.panning-effect:not(.sel-effect) .cell-effect {
    color: var(--color-fg-panning);
}
.timing-effect:not(.sel-effect) .cell-effect {
    color: var(--color-fg-timing);
}
.control-effect:not(.sel-effect) .cell-effect {
    color: var(--color-fg-control);
}

.pattern-table-space {
    height: 50%;
}

.pattern-handle {
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color-fg-hl);
    opacity: 0.9;
    touch-action: none;
}
.pattern-handle:nth-child(1) {
    transform: translate(-100%, -100%);
    border-bottom-right-radius: 0;
    cursor: nwse-resize;
}
.pattern-handle:nth-child(2) {
    transform: translate(0, -100%);
    border-bottom-left-radius: 0;
    cursor: nesw-resize;
}
.pattern-handle:nth-child(3) {
    transform: translate(-100%, 0);
    border-top-right-radius: 0;
    cursor: nesw-resize;
}
.pattern-handle:nth-child(4) {
    border-top-left-radius: 0;
    cursor: nwse-resize;
}

/* CellEntry */

.cell-entry-layout {
    flex-direction: column;
}
.cell-entry-toggles {
    flex-direction: row;
}
.cell-entry-toggles > label {
    flex: 1 0 0;
}
@media (min-width: 35em) {
    .cell-entry-layout {
        flex-direction: row;
    }
    .cell-entry-toggles {
        flex-direction: column;
        justify-content: flex-end;
    }
    .cell-entry-toggles > label {
        flex-grow: 0;
    }
}

.keypad-key {
    width: 2em;
    flex-shrink: 0;
    margin: 0;
}
.keypad-half-key {
    width: 1em;
    flex-shrink: 0;
}
.keypad-key span {
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
}

.scroll-lock {
    touch-action: none;
}

.hex-grid {
    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr;
}

.effect-desc {
    font-size: 0.6em;
}

.pitch-effect-btn:not(.show-checked):not(:active):not(.active) {
    background: var(--color-bg-pitch);
}
.volume-effect-btn:not(.show-checked):not(:active):not(.active) {
    background: var(--color-bg-volume);
}
.panning-effect-btn:not(.show-checked):not(:active):not(.active) {
    background: var(--color-bg-panning);
}
.timing-effect-btn:not(.show-checked):not(:active):not(.active) {
    background: var(--color-bg-timing);
}
.control-effect-btn:not(.show-checked):not(:active):not(.active) {
    background: var(--color-bg-control);
}

/* PianoKeyboard */

.white-keys :not(:checked) + span {
    background: var(--color-fg);
    color: var(--color-bg);
    border-color: var(--color-bg);
}

/* SampleEdit */

.wave-edit {
    padding: 0 20px; /* room for selection handles */
    touch-action: none;
}

.wave-container {
    contain: none;
    position: relative;
    cursor: text;
}

.wave-canvas {
    flex: 1 0 0;
    width: 0;
    min-height: 64px;
    max-height: 192px;
}

.wave-mark,
.wave-mark:before,
.wave-range {
    contain: none;
    position: absolute;
    height: 100%;
}
.wave-mark:before,
.wave-range {
    pointer-events: none;
}
.wave-mark:before {
    content: "";
    padding: 0 1px;
    margin: 0 -1px;
    background-color: inherit;
}
.wave-range {
    opacity: 0.3;
}

.wave-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: ew-resize;
}
.wave-handle-side {
    top: 50%;
    transform: translate(0, -50%);
    opacity: 0.9;
}
.wave-handle-side.wave-handle-flip {
    transform: translate(-100%, -50%);
}
.wave-handle-top, .wave-handle-bottom {
    transform: translate(-50%, 0);
}
.wave-handle-bottom {
    bottom: 0;
}

.wave-select {
    background: var(--color-fg-hl);
}
.wave-loop,
.wave-play-mark {
    background: var(--color-fg-alt);
}
