/* SequenceEdit */

.seq-button,
.seq-select {
    width: 2.5em;
    margin-left: 0;
    margin-right: 0;
}
.seq-button span,
.seq-select {
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
}

.seq-select {
    appearance: none;
    text-align: center;
    text-align-last: center;
}

/* PatternTable */

pattern-table th,
.pattern-cell {
    border: 1px solid var(--color-fg);
    white-space: nowrap;
    box-sizing: content-box;
}
.pattern-row-space th,
.pattern-row-space .pattern-cell,
pattern-table thead th {
    border-top: none;
    border-bottom: none;
}
pattern-table table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 0;
}
pattern-table table,
.pattern-cell {
    font-size: 15px;
}
/* https://issues.chromium.org/issues/40511425 */
pattern-table th {
    position: sticky;
    background-color: var(--color-bg);
    z-index: 1;
}
pattern-table thead {
    /* Fix borders disappearing in Safari, and incorrect Z order in old Chrome */
    contain: none;
}
pattern-table thead th {
    top: 0;
}
pattern-table tbody th {
    left: 0;
}
pattern-table thead th input,
pattern-table thead th label {
    vertical-align: middle;
}
pattern-table tbody tr:nth-child(4n+2) td,
pattern-table tbody tr:nth-child(4n+2) th {
    background: var(--color-bg-btn);
}
pattern-table tbody tr:nth-child(16n+2) td,
pattern-table tbody tr:nth-child(16n+2) th {
    background: var(--color-bg-btn-press);
}
.sel-pitch .cell-pitch,
.sel-inst .cell-inst,
.sel-effect .cell-effect {
    background: var(--color-fg-hl);
    color: var(--color-bg);
}
pattern-table td,
pattern-table tr,
.cell-pitch,
.cell-effect,
.cell-inst {
    /* Layout performance optimization */
    height: var(--line-height);
    overflow: hidden;
    contain: strict;
}
pattern-table td,
.pattern-col-head {
    width: 10ch;
    padding: 0 2px;
}
.cell-pitch,
.cell-effect,
.cell-inst {
    display: inline-block;
    vertical-align: top;
    box-sizing: content-box;
}
.cell-pitch, .cell-effect {
    width: 3ch;
}
.cell-inst, .pattern-row-head {
    width: 2ch;
}
.hilite-row td,
.hilite-row th {
    background: var(--color-bg-alt) !important;
}
pattern-table .sel-cell { /* extra specificity */
    background: var(--color-bg-hl) !important;
}

.pattern-table-space {
    height: 50%;
}

.pattern-handle {
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color-fg-hl);
}
.pattern-handle:nth-child(1) {
    transform: translate(-100%, -100%);
    border-bottom-right-radius: 0;
}
.pattern-handle:nth-child(2) {
    transform: translate(0, -100%);
    border-bottom-left-radius: 0;
}
.pattern-handle:nth-child(3) {
    transform: translate(-100%, 0);
    border-top-right-radius: 0;
}
.pattern-handle:nth-child(4) {
    border-top-left-radius: 0;
}

/* CellEntry */

.keypad-key {
    width: 2em;
    flex-shrink: 0;
    margin: 0;
}
.keypad-half-key {
    width: 1em;
    flex-shrink: 0;
}
.keypad-key span {
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
}

.scroll-lock {
    touch-action: none;
}

.hex-grid {
    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr;
}

.effect-desc {
    font-size: 0.6em;
}

/* PianoKeyboard */

.black-key :not(:checked) + span {
    background: var(--color-fg);
    color: var(--color-bg);
    border-color: var(--color-bg);
}

/* SampleEdit */

.wave-edit {
    padding: 0 20px; /* room for selection handles */
    touch-action: none;
}

.wave-container {
    contain: none;
    position: relative;
}

.wave-mark,
.wave-mark:before,
.wave-range {
    contain: none;
    position: absolute;
    height: 100%;
}
.wave-mark:before,
.wave-range {
    pointer-events: none;
}
.wave-mark:before {
    content: "";
    padding: 0 1px;
    margin: 0 -1px;
    background-color: inherit;
}
.wave-range {
    opacity: 0.3;
}

.wave-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.wave-handle-side {
    top: 50%;
    transform: translate(0, -50%);
}
.wave-handle-side.wave-handle-flip {
    transform: translate(-100%, -50%);
}
.wave-handle-top, .wave-handle-bottom {
    transform: translate(-50%, 0);
}
.wave-handle-bottom {
    bottom: 0;
}

.wave-select {
    background: var(--color-fg-hl);
}
.wave-loop,
.wave-play-mark {
    background: var(--color-fg-alt);
}
