hr {
    height: 0.5em;
    border: none;
}

body {
    font-family: 'Iosevka Aile Custom Web', system-ui, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    --line-height: 1.5em;

    background: var(--color-bg);
    color: var(--color-fg);
    accent-color: var(--color-fg-hl);
}

input {
    padding: 1px 3px;
    background: var(--color-bg);
    border: 1px solid var(--color-fg);
    border-radius: 3px;
}

input[type="range"] {
    padding: 0;
    border: none;
}

input:disabled {
    background: var(--color-bg-btn)
}

.small-input {
    width: 4em;
}
.med-input {
    width: 6em;
}

textarea {
    white-space: pre;
}

pre,
code,
textarea,
table,
.pattern-cell {
    font-family: 'Iosevka Fixed Custom Web', monospace;
}

label,
output {
    padding: 0 0.33em;
}

.label-button {
    white-space: nowrap;
    padding: 0; /* override label */
}
.label-button input {
    display: none;
}

button,
select,
.label-button span {
    min-width: 2.5em;
    min-height: 2.5em;
    padding: 0 0.4em;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background: var(--color-bg-btn);
    border: 1px solid var(--color-fg);
    border-radius: 5px;
    touch-action: manipulation;
}

button,
select,
.label-button,
.tab-group {
    margin: 2px;
}

.tab-group label {
    margin: 0;
}

.tab-group label:not(:first-of-type) span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tab-group label:not(:last-of-type) span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
}

.label-button span {
    flex: 1 0 0;
}

button:active,
button.active,
select:active,
select.active,
.label-button :active + span,
.label-button.active span,
button:disabled,
select:disabled
.label-button :disabled + span {
    background: var(--color-bg-btn-press);
}

.label-button :checked + span,
.show-checked {
    background: var(--color-fg-hl);
    color: var(--color-bg)
}

.label-button :active:checked + span,
.label-button.active :checked + span,
.show-checked.active {
    background: var(--color-bg-hl);
    color: var(--color-fg)
}

.icon svg {
    width: var(--line-height);
    height: var(--line-height);
    fill: currentColor;
    vertical-align: top;
}

label {
    display: inline-flex;
    align-items: center;
}

dialog {
    display: flex;
    flex-direction: column;

    /* center dialog */
    margin: 0 auto; /* margin:auto doesn't work in old Chrome versions */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background: var(--color-bg);
    color: var(--color-fg);
    padding: 1em;
    border: 1px solid var(--color-fg);
    border-radius: 12px;
    box-shadow: black 0 0 40px;
}

::backdrop {
    background: rgba(0, 0, 0, 0.2);
}

.message-dialog {
    max-width: 25em;
}
.message-out {
    white-space: pre-wrap;
}

.properties-grid {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    align-items: center;
}

.placeholder {
    margin: 16px;
    background: var(--color-bg-btn-press);
    align-items: center;
    justify-content: center;
}
