body {
    --color-bg: #000;
    --color-fg: #fff;
    --color-fg-dim: #bbb;

    --color-bg-btn: #333;
    --color-bg-btn-press: #666;

    --color-bg-hl: #60a;
    --color-fg-hl: #b4f;
    --color-fg-hl-dim: #a6d;

    --color-bg-alt: #d28;
    --color-fg-alt: #f8a;

    --color-bg-pitch: #503;
    --color-bg-volume: #053;
    --color-bg-panning: #530;
    --color-bg-timing: #035;
    --color-bg-control: #305;
}
