.nocontain {
    contain: none;
}

.hflex {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.vflex {
    display: flex;
    flex-direction: column;
}
.width0 {
    width: 0
}
.min-width-0 {
    min-width: 0;
}
.flex-grow {
    flex: 1 0 0;
}
.hscrollable {
    overflow-x: auto;
}
.vscrollable {
    overflow-y: auto;
}
.hscrollable > *,
.vscrollable > * {
    flex-shrink: 0;
}
.hide {
    display: none !important;
}

.shrink-clip-y {
    min-height: 0;
    overflow-y: hidden;
}

.top {
    top: 0;
}
.left {
    left: 0;
}
.bottom {
    bottom: 0;
}
.right {
    right: 0;
}

.z-0 {
    z-index: 0;
}
.z-above {
    z-index: 1;
}
.z-below {
    z-index: -1;
}

.justify-start,
.button-list > button,
.button-list button:first-child {
    justify-content: start;
}

.overflow-content {
    overflow: hidden;
    text-overflow: ellipsis;
}

.selectable {
    user-select: text;
    -webkit-user-select: text;
}
