/* reset */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    contain: content;
}
input, button, textarea, select {
    font: inherit;
    color: inherit;
}
select {
    -webkit-appearance: menulist-button;
    appearance: menulist-button;
}
div, body, form {
    display: flex;
    flex-direction: column;
}
.custom-element {
    display: contents;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;

    /* no pinch to zoom */
    touch-action: none;
    /* no swipe to go back or refresh */
    overscroll-behavior: none;
}

body, dialog, select {
    user-select: none;
    -webkit-user-select: none;
}

img {
    /* no drag-and-drop, long tap, right click... */
    pointer-events: none;
}
