<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">

    <link href="src/ui/WebApp.css" rel="stylesheet">
    <link href="index.css" rel="stylesheet">

    <script src="src/Module.js"></script>
    <script src="src/PeriodTable.js"></script>
    <script src="src/ModLoader.js"></script>
    <script src="src/ModWriter.js"></script>
    <script src="src/Playback.js"></script>
    <script src="src/Edit.js"></script>
    <script src="src/PatternEdit.js"></script>
    <script src="src/SequenceEdit.js"></script>
    <script src="src/ui/WebApp.js"></script>
    <script src="src/ui/UtilTemplates.js"></script>
    <script src="src/ui/PatternView.js"></script>
    <script src="src/ui/FileToolbar.js"></script>
    <script src="src/ui/PlaybackControls.js"></script>
  </head>
  <body>
    <!-- template definitions -->
{% include UtilTemplates.html %}
{% include FileToolbar.html %}
{% include PlaybackControls.html %}
{% include Cell.html %}
    <script src="src/ui/DOMUtil.js"></script>

    <file-toolbar></file-toolbar>
    <playback-controls></playback-controls>
{% include SequenceList.html %}
{% include PatternTable.html %}
    <div id="errors"></div>
{% include CellEntry.html %}

    <script src="index.js"></script>
  </body>
</html>
