@font-face {
    font-family: 'Iosevka Aile Custom Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src: url('IosevkaAileCustom-Regular.woff2') format('woff2');
}
