<template id="alertDialog">
  <form class="vflex dialog message-dialog">
    <h3 id="title"></h3>
    <output id="message" class="message-out"></output>
    <div class="hflex">
      <div class="flex-grow"></div>
      <button id="ok" class="show-checked">OK</button>
    </div>
  </form>
</template>
<template id="confirmDialog">
  <form class="vflex dialog message-dialog">
    <h3 id="title"></h3>
    <output id="message" class="message-out"></output>
    <div class="hflex">
      <div class="flex-grow"></div>
      <button id="ok" class="show-checked">OK</button>
      <button id="cancel" type="button">Cancel</button>
    </div>
  </form>
</template>
<template id="inputDialog">
  <form class="vflex dialog">
    <h3 id="title"></h3>
    <div class="hflex">
      <span id="prompt"></span>&nbsp;
      <input type="number" class="med-input">
    </div>
    <div class="hflex">
      <div class="flex-grow"></div>
      <button id="ok" class="show-checked">OK</button>
      <button id="cancel" type="button">Cancel</button>
    </div>
  </form>
</template>
<template id="waitDialog">
  <div class="vflex dialog">
    <span>Please wait...</span>
    <progress></progress>
  </div>
</template>
