<template id="appMain">
  <div id="errors"></div>
  <playback-controls></playback-controls>

  <form id="appTabs" class="hflex">
    <label class="label-button flex-grow">
      <input type="radio" name="app-tab" value="arrange" checked>
      <span>Arrange</span>
    </label>
    <label class="label-button flex-grow">
      <input type="radio" name="app-tab" value="sequence">
      <span>Sequence</span>
    </label>
    <label class="label-button flex-grow">
      <input type="radio" name="app-tab" value="samples">
      <span>Samples</span>
    </label>
  </form>
  <div id="appTabBody" class="vflex flex-grow">
    <div id="arrange" class="vflex flex-grow">
      <file-toolbar></file-toolbar>
      <module-properties></module-properties>
    </div>
    <div id="sequence" class="vflex flex-grow hide">
      <sequence-edit></sequence-edit>
      <pattern-table></pattern-table>
    </div>
    <div id="samples" class="vflex flex-grow hide">
      <samples-list></samples-list>
    </div>
  </div>
</template>
