<template id="cellEntry">
  <div class="vflex">
    <div class="hflex">
      <button id="lift">
        <img class="icon" src="assets/eyedropper.svg">
      </button>
      <div class="flex-grow"></div>
      <span id="entryCell" class="pattern-cell">
        <span id="pitch" class="cell-pitch"></span>
        <span id="inst" class="cell-inst"></span>
        <span id="effect" class="cell-effect"></span>
      </span>
      <div class="flex-grow"></div>
      <button id="write">
        <img class="icon" src="assets/pencil.svg">
      </button>
      <button id="clear">
        <img class="icon" src="assets/eraser.svg">
      </button>
      <button id="insert">
        <img class="icon" src="assets/arrow-expand-down.svg">
      </button>
      <button id="delete">
        <img class="icon" src="assets/backspace-outline.svg">
      </button>
    </div>
    <div style="display: grid; grid-template-columns: auto minmax(0, 1fr)">
      <label class="label-button">
        <input type="checkbox" checked id="pitchEnable">
        <span>P</span>
      </label>
      <div class="hflex">
        <button id="pianoLeft">&lt;</button>
        <form id="piano" class="vflex flex-grow hscrollable" autocomplete="off">
          <div class="hflex" id="blackKeys">
            <div class="keypad-half-key"></div>
          </div>
          <div class="hflex" id="whiteKeys"></div>
        </form>
        <button id="pianoRight">&gt;</button>
      </div>

      <label class="label-button">
        <input type="checkbox" checked id="sampleEnable">
        <span>I</span>
      </label>
      <div class="hflex">
        <button id="sampleLeft">&lt;</button>
        <form id="sampleList" class="hflex flex-grow hscrollable" autocomplete="off"></form>
        <button id="sampleRight">&gt;</button>
      </div>

      <label class="label-button">
        <input type="checkbox" id="effectEnable">
        <span>E</span>
      </label>
      <div class="hflex">
        <select id="effectSelect">
          <option>0: Arpeggio</option>
          <option>1: Port Up</option>
          <option>2: Port Down</option>
          <option>3: Tone Port</option>
          <option>4: Vibrato</option>
          <option>5: Volslide+Port</option>
          <option>6: Volslide+Vib</option>
          <option>7: Tremolo</option>
          <option>8: Panning</option>
          <option>9: Offset</option>
          <option>A: Volume Slide</option>
          <option>B: Position Jump</option>
          <option selected>C: Volume</option>
          <option>D: Pattern Break</option>
          <option>E: Extended</option>
          <option>F: Tempo</option>
        </select>
        <select id="param0Select">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>A</option>
          <option>B</option>
          <option>C</option>
          <option>D</option>
          <option>E</option>
          <option>F</option>
        </select>
        <select id="param1Select">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>A</option>
          <option>B</option>
          <option>C</option>
          <option>D</option>
          <option>E</option>
          <option>F</option>
        </select>

        <div class="flex-grow"></div>
        <button id="writeEffect">
          <img class="icon" src="assets/keyboard-return.svg">
        </button>
      </div>
    </div>
  </div>
</template>
