<template id="moduleProperties">
  <div class="vflex">
    <div class="hflex">
      Title:
      <input id="title" maxlength="20" autocomplete="off">
    </div>
    <div class="hflex">
      Channels:&nbsp;
      <output id="channelCount"></output>
      <button id="addChannels">+</button>
      <button id="delChannels">-</button>
    </div>
    <div class="hflex">
      Samples:&nbsp;
      <output id="sampleCount"></output>
    </div>
    <div class="hflex">
      Patterns:&nbsp;
      <output id="patternCount"></output>
    </div>
    <div class="hflex">
      Length:&nbsp;
      <output id="sequenceCount"></output>
    </div>
    <div class="hflex">
      File size:&nbsp;
      <output id="fileSize"></output>
    </div>
    <div class="hflex">
      <button id="patternZap">
        <img class="icon" src="assets/playlist-remove.svg">
      </button>
    </div>
  </div>
</template>
