<template id="moduleProperties">
  <div class="properties-grid">
    <label for="title">Title:&nbsp;</label>
    <div class="hflex">
      <input id="title" maxlength="20" autocomplete="off">
    </div>

    <label for="channelCount">Channels:&nbsp;</label>
    <div class="hflex">
      <output id="channelCount"></output>
      &nbsp;
      <button id="delChannels">
        <inline-svg class="icon" src="minus.svg"></inline-svg>
      </button>
      <button id="addChannels">
        <inline-svg class="icon" src="plus.svg"></inline-svg>
      </button>
    </div>

    <label for="sampleCount">Samples:&nbsp;</label>
    <output id="sampleCount"></output>

    <label for="patternCount">Patterns:&nbsp;</label>
    <div class="hflex">
      <output id="patternCount"></output>
      &nbsp;
      <button id="patternZap">
        <inline-svg class="icon" src="playlist-remove.svg"></inline-svg>
      </button>
    </div>

    <label for="sequenceCount">Length:&nbsp;</label>
    <output id="sequenceCount"></output>

    <label for="fileSize">File size:&nbsp;</label>
    <output id="fileSize"></output>

    <div></div>
    <div class="hflex"><button id="script">Script</button></div>
  </div>
</template>
