<template id="patternEdit">
  <div class="vflex flex-grow">
    <sequence-edit></sequence-edit>
    <div class="hflex">
      <label>
        Tempo:&nbsp;
        <input id="tempo" type="number" class="small-input" value="125" autocomplete="off">
      </label>
      &nbsp;
      <label>
        Speed:&nbsp;
        <input id="speed" type="number" class="small-input" value="6" autocomplete="off">
      </label>
      <div class="flex-grow"></div>
      <div id="selectTools" class="hide hflex">
        <button id="cut">
          <inline-svg class="icon" src="content-cut.svg"></inline-svg>
        </button>
        <button id="copy">
          <inline-svg class="icon" src="content-copy.svg"></inline-svg>
        </button>
      </div>
      <button id="paste">
        <inline-svg class="icon" src="content-paste.svg"></inline-svg>
      </button>
      <label class="label-button">
        <input id="select" type="checkbox">
        <span><inline-svg class="icon" src="selection.svg"></inline-svg></span>
      </label>
    </div>
    <pattern-table></pattern-table>
    <div class="hflex">
      <button id="lift">
        <inline-svg class="icon" src="eyedropper.svg"></inline-svg>
      </button>
      <div class="flex-grow"></div>
      <span id="entryCell" class="pattern-cell">
        <span id="pitch" class="cell-pitch">...</span>
        <span id="inst" class="cell-inst">..</span>
        <span id="effect" class="cell-effect">...</span>
      </span>
      <div class="flex-grow"></div>
      <button id="write">
        <inline-svg class="icon" src="pencil.svg"></inline-svg>
      </button>
      <button id="clear">
        <inline-svg class="icon" src="eraser.svg"></inline-svg>
      </button>
      <button id="insert">
        <inline-svg class="icon" src="arrow-expand-down.svg"></inline-svg>
      </button>
      <button id="delete">
        <inline-svg class="icon" src="backspace-reverse-outline.svg"></inline-svg>
      </button>
    </div>
    <cell-entry></cell-entry>
  </div>
</template>
