<template id="playbackControls">
  <div class="hflex">
    <button id="playStart">
      <img class="icon" src="assets/step-forward.svg">
    </button>
    <button id="playPattern">
      <img class="icon" src="assets/playlist-play.svg">
    </button>
    <button id="playRow">
      <img class="icon" src="assets/play.svg">
    </button>
    <button id="pause" class="hide">
      <img class="icon" src="assets/pause.svg">
    </button>
    <label class="label-button">
      <input id="patternLoop" type="checkbox">
      <span><img class="icon" src="assets/repeat-variant.svg"></span>
    </label>
    <label class="label-button">
      <input id="follow" type="checkbox" checked>
      <span><img class="icon" src="assets/format-indent-increase.svg"></span>
    </label>
    <div class="flex-grow"></div>
    <button id="undo">
      <img class="icon" src="assets/undo.svg">
    </button>
  </div>
</template>
