<template id="playbackControls">
  <div class="hflex">
    <button id="playStart">
      <inline-svg class="icon" src="step-forward.svg"></inline-svg>
    </button>
    <button id="playPattern">
      <inline-svg class="icon" src="playlist-play.svg"></inline-svg>
    </button>
    <button id="playRow">
      <inline-svg class="icon" src="play.svg"></inline-svg>
    </button>
    <button id="pause" class="hide show-checked">
      <inline-svg class="icon" src="pause.svg"></inline-svg>
    </button>
    <label class="label-button">
      <input id="patternLoop" type="checkbox">
      <span><inline-svg class="icon" src="repeat-variant.svg"></inline-svg></span>
    </label>
    <label class="label-button">
      <input id="follow" type="checkbox" checked>
      <span><inline-svg class="icon" src="format-indent-increase.svg"></inline-svg></span>
    </label>
    <div class="flex-grow"></div>
    <button id="undo">
      <inline-svg class="icon" src="undo.svg"></inline-svg>
    </button>
  </div>
</template>
