<template id="sampleEdit">
  <div class="vflex flex-grow">
    <div class="properties-grid">
      <label for="name">Name:&nbsp;</label>
      <div class="hflex">
        <input id="name" maxlength="22" autocomplete="off">
      </div>

      <label for="volume">Volume:&nbsp;</label>
      <div class="hflex">
        <input id="volume" type="range" class="flex-grow" min="0" max="64" autocomplete="off">
        <output id="volumeOut" class="small-input"></output>
      </div>

      <label for="finetune">Finetune:&nbsp;</label>
      <div class="hflex">
        <input id="finetune" type="range" class="flex-grow" min="-8" max="7" autocomplete="off">
        <output id="finetuneOut" class="small-input"></output>
      </div>

      <span class="hflex">Wave file:&nbsp;</span>
      <div class="hflex">
        <label class="label-button">
          <input id="file" type="file" accept="audio/*" autocomplete="off">
          <span><inline-svg class="icon" src="folder-open.svg"></inline-svg></span>
        </label>
        &nbsp;
        <label for="sampleRate">Resample:&nbsp;</label>
        <input id="sampleRate" type="number" class="med-input" value="16574.27">
      </div>
    </div>

    <div id="waveEdit" class="vflex wave-edit">
      <div id="waveContainer" class="vflex wave-container">
        <canvas id="wavePreview" width="1024" height="256"></canvas>
        <div id="selectMarkA" class="wave-mark wave-select hide"></div>
        <div id="selectMarkB" class="wave-mark wave-select hide"></div>
        <div id="selectRange" class="wave-range wave-select hide"></div>
        <div id="loopStartMark" class="wave-mark wave-loop hide"></div>
        <div id="loopEndMark" class="wave-mark wave-loop hide"></div>
      </div>
    </div>
    <div class="vflex">
      Loop:
      <input id="loopStart" type="range" min="0" autocomplete="off">
      <input id="loopEnd" type="range" min="0" autocomplete="off">
    </div>
    <div class="hflex">
      <select id="selectMenu" class="med-menu">
        <option selected disabled hidden>Select</option>
        <option value="all">All</option>
        <option value="none">None</option>
        <option value="loop">Loop</option>
      </select>
      <select id="editMenu" class="med-menu">
        <option selected disabled hidden>Edit</option>
        <option value="trim">Trim</option>
        <option value="cut">Cut</option>
        <option value="copy">Copy</option>
        <option value="paste">Paste</option>
      </select>
      <select id="loopMenu" class="med-menu">
        <option selected disabled hidden>Loop</option>
        <option value="set">Set</option>
        <option value="clear">Clear</option>
        <option value="repeat">Repeat</option>
        <option value="pingpong">Ping-Pong</option>
      </select>
      <select id="effectMenu" class="med-menu">
        <option selected disabled hidden>Effect</option>
        <option value="amplify">Amplify</option>
        <option value="fadeIn">Fade In</option>
        <option value="fadeOut">Fade Out</option>
        <option value="reverse">Reverse</option>
        <option value="resample">Resample</option>
        <option value="filter">Filter / EQ</option>
      </select>
    </div>
    <div class="flex-grow"></div>
    <piano-keyboard></piano-keyboard>
  </div>
</template>
