<template id="sampleEdit">
  <div class="vflex flex-grow">
    <span class="hflex">
      Sample&nbsp;
      <output id="number"></output>
    </span>
    <span class="hflex">
      Name:
      <input id="name" maxlength="22">
    </span>
    <span class="hflex">
      Volume:
      <input id="volume" type="range" min="0" max="64">
      <output id="volumeOut"></output>
    </span>
    <span class="hflex">
      Finetune:
      <input id="finetune" type="range" min="-8" max="7">
      <output id="finetuneOut"></output>
    </span>
    <span class="hflex">
      Wave file:
      <div class="vflex">
        <input id="file" type="file" accept="audio/*">
        <span class="hflex">
          Resample:
          <input id="sampleRate" type="number" value="16574.27">
        </span>
      </div>
    </span>
    <button id="jam">Listen</button>
  </div>
</template>
