<template id="sampleEdit">
  <div class="vflex flex-grow">
    <span class="hflex">
      Name:
      <input id="name" maxlength="22">
    </span>
    <span class="hflex">
      Volume:
      <input id="volume" type="number">
    </span>
    <span class="hflex">
      Finetune:
      <input id="finetune" type="number">
    </span>
    <span class="hflex">
      Wave file:
      <div class="vflex">
        <input id="file" type="file" accept="audio/*">
        <span class="hflex">
          Resample
          <input id="sampleRate" type="number" value="16574.27">
        </span>
      </div>
    </span>
  </div>
</template>
