<template id="sequenceEdit">
  <div class="hflex">
    <form id="seqList" class="hflex flex-grow hscrollable" autocomplete="off">
      <select id="patternSelect" class="seq-select show-checked"></select>
    </form>
    <button id="seqInsSame">
      <inline-svg class="icon" src="equal.svg"></inline-svg>
    </button>
    <button id="seqInsClone">
      <inline-svg class="icon" src="plus.svg"></inline-svg>
    </button>
    <button id="seqDel">
      <inline-svg class="icon" src="close.svg"></inline-svg>
    </button>
  </div>
</template>
